@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    
}

@media (max-width: 991px) {
    .brand-container {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .brand-child {
        padding: 1rem 1.5rem;
    }
    .brand-child > .middle > p {
        font-size: 1.15rem;
    }
    .brands-wrapper {
        padding: 1.5rem;
    }
    .big-hero-word {
        font-size: 3rem;
        text-shadow: 3px 3px 0px #80808069;
    }
    .padding {
        padding: 1rem;
    }
    .company-about {
        padding: 2rem 0.285rem;
    }
    .responsive-below-fold {
        font-size: 1.45rem;
    }
    .flex-item.brand-image {
        min-height: 400px;
        padding: 2rem;
    }
    .landing-hero-text {
        font-size: 3rem;
    }
    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        ;
    }
    .flex-container>.brand-content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        font-size: 1.25rem;
    }
    .flex-item {
        width: 100%;
    }
    .parallax {
        background-image: none;
    }
    .flex-box-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .logo {
        max-width: 180px;
    }
    .product-range {
        font-size: 1.25rem;
        padding: .35rem 1rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .product-range-wrapper>.container {
        max-width: 70%;
        margin: auto;
    }
    /* gwiggles */
    section-banner .brand-packets{
        top:22%;
    }
    section-banner .tag-line{
        width: 93%;
        top: 76%;
        left: 7%;
    }
}

@media (max-width: 767px) {
    .landing-hero-text::after {
        display: none;
    }
    .landing-hero-text {
        font-size: 1.25rem;
    }
    .big-hero-word {
        font-size: 2rem;
    }
    .hero-banner {
        background: linear-gradient( 108.7deg,  rgba(255,138,101,1) 35.5%, rgba(221,44,0,1) 86.8% );
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 40%;
        background-attachment: scroll;
        /* background-color: #fcb040; */
    }
    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    .scroll-next-button {
        display: none!important;
    }
    .page-header {
        padding: 2rem 0;
        font-size: 2.25rem;
    }
    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-container>.brand-content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        font-size: 1.15rem;
    }
    .flex-item.brand-image {
        min-height: 300px;
    }
    .responsive-below-fold {
        font-size: 1.35rem;
    }

    /* gwiggles */
    section-banner {
        display: flex;
        width:100%;
        /* height:50vw; */
        min-height:84vh;
        /* margin-top:78px; */
        /* background: linear-gradient( 148deg, #fff186 15%, #fff 55%,  #c61f26 50%); */
        background:url('../images/gwiggles/new/banner - iphonex.jpg');    
        position: relative;
        background-size: 100% 100%;
    }
    section-banner .brand-logo {
        width: 40%;
        top: 0%;
        left: 0%;
    }
    section-banner .brand-packets {
        width: 100%;
        position: absolute;
        left: 0%;
        top: 25%;
    }
    section-banner .tag-line {
        font-size: 20px;
        top: 73%;
    }
    .paws-bg, .bones-bg {
        background-size: 250px;
    }
}

@media (max-width: 580px) {
    .flex-item.brand-image {
        min-height: 250px;
    }
    .big-hero-word {
        font-size: 2.45rem;
    }
    .responsive-below-fold {
        font-size: 1.25rem;
    }
    .landing-hero-text {
        font-size: 1.15rem;
    }
    .brand-box {
        padding: 1rem;
    }
    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-container>.brand-content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        font-size: 1rem;
    }

    /* gwiggles */
    section-banner .tag-line {
        font-size: 15px;
        top: 66%;
        text-align: center;
        left:3%;
    }
    section-intro p{
        font-size: 15px;
        text-align: center;
    }
    section-brief {
    background:linear-gradient( #f5c535 50%, #e4af15 50%);
    }
    section-brief .brief{
        display: none;
    }
    section-brief .hide {
        display: unset !important;
    }
   
}

@media screen and (min-width: 320px) and (max-width: 580px) and (orientation: landscape) {
    .mobile-orientation-lock {
        display: flex;
    }
}