@media screen and (min-width: 1600px) {
    .doc-video iframe {
        min-height: 350px;
    }
}

@media screen and (min-width: 2000px) {
    .doc-video iframe {
        height: 450px;
    }
}

@media screen and (max-width: 1280px) {
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .carousel-inner>.item {
        height: auto;
        min-height: 100px;
    }
    .shop-card-wrapper .title {
        font-size: 1em;
        width: auto;
    }
    .shop-card-wrapper>ul>li>a>span {
        top: auto;
        bottom: 2%;
    }
    .doc-video iframe {
        min-height: 250px!important;
    }
    .message.message-1 {
        font-size: 3.5rem;
    }
    .message.message-2 {
        font-size: 6rem;
    }
    .message.message-3 {
        font-size: 1.5rem;
    }
    .carousel-inner {
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    /* .fixed-spacing {
        margin-top: 125px;
    } */
    .mt-on-sm {
        margin-top: 20px;
    }
    .table-responsive {
        border: none;
    }
    .recipe-wrapper {
        margin-bottom: 40px;
    }
    .b-right-lg {
        border: none;
    }
    .profile-menu {
        margin-bottom: 30px;
    }
    .address-wrapper {
        margin-right: 0px;
    }
    .top-bar-ul>li>a {
        padding: 5px 8px;
    }
    .mt-30-on-sm {
        margin-top: 30px;
    }
    .footer-image img {
        margin: auto;
    }
    .close-mobile-menu {
        display: inline-block;
        position: fixed;
        top: -5px;
        right: -100%;
        z-index: 11;
        color: red;
        font-size: 2.5em;
        font-weight: bold;
        transition: right 0.5s;
    }
    .mobile-menu-toggle-wrapper {
        display: block;
    }
    .menu-wrapper>.my-nav {
        position: fixed;
        right: -100%;
        background: black;
        z-index: 9;
        width: 250px;
        max-width: 100%;
        top: 0;
        height: 100%;
        padding-top: 25px;
        transition: right 0.5s;
        overflow-y: auto;
    }
    .nav-wrapper>nav>ul.my-nav>li {
        float: none;
    }
    .nav-wrapper>nav>ul.my-nav>li>a {
        border-bottom: 1px solid #1f1f1f!important;
    }
    .full-width-on-mobile>li>a {
        padding: 15px 20px;
    }
    .float-right-md {
        /* float: none; */
        /* width: 320px; */
        max-width: 100%;
        margin: auto;
        padding: 0px 10px;
    }
    .full-width-on-mobile {
        width: 100%;
        border: none;
    }
    .shop-card-wrapper>ul>li {
        width: 100%;
        text-align: center;
        margin-bottom: -5px;
    }
    .shop-card-wrapper .title {
        width: 100%;
        text-align: center;
        bottom: 0px;
        top: auto;
        font-size: 1em;
        color: #fff;
        text-shadow: none;
        background: #000000ba
    }
    .shop-card-wrapper>ul>li>a>span {
        top: 40%;
        bottom: auto;
        z-index: 999;
        padding: 2px 10px;
    }
    .shop-card-wrapper>ul>li>a>.img-overlay {
        /* background: none!important; */
    }
    .brand-name {
        text-align: left;
        padding: 2px 10px;
    }
    .doc-video iframe {
        /* width: auto!important; */
        min-height: 400px!important;
    }
    .sec-heading {
        font-size: 3em;
        margin-top: 40px;
    }
    .pd-40 {
        padding: 20px;
        padding-bottom: 80px;
    }
    .message.message-1 {
        font-size: 2rem;
    }
    .message.message-2 {
        font-size: 4rem;
    }
    .message.message-3 {
        font-size: 1.25rem;
    }
    .know-more {
        padding: 6px 20px;
    }
    .slide-message {
        height: 100%;
    }
    .play-button-wrapper {
        text-align: right;
        margin-top: 20%;
    }
    .play-button-wrapper>a {
        padding: 10px;
        box-shadow: 0px 5px 20px -1px black;
    }
    .play-button-wrapper>a>i {
        font-size: 1.5em;
        text-shadow: 2px 2px 10px #0a0a0a;
    }
    main {
        margin-top: 100px;
    }
    .slide-one-carousel {
        margin-top: 0px;
    }
    .fp-noscroll {
        padding: 20px 0px;
    }
    .product-title-single-line {
        font-size: 1.25em;
        text-align: center;
    }
    .product-weights {
        font-size: 1em;
        text-align: center;
    }
    .points-content {
        font-size: 1em;
    }
    .f-30 {
        font-size: 1.5em;
    }
    .calc-wrapper {
        position: fixed;
        bottom: 0px;
        right: 0;
        z-index: 9;
        width: 60%;
        margin: auto;
        left: 0;
    }
    .calc-form-wrapper {
        min-width: 100px;
        width: auto;
    }
}

@media screen and (max-width: 580px) {
    .panel-heading .pull-left {
        margin-bottom: 15px;
    }
    .video-card {
        top: 5%;
    }
    .doc-video iframe {
        min-height: 300px!important;
    }
    .message.message-1 {
        font-size: 1.5rem;
    }
    .message.message-2 {
        font-size: 3rem;
    }
    .message.message-3 {
        font-size: 1rem;
    }
    .know-more {
        padding: 5px 15px;
        font-size: 1rem;
        margin-top: 5px;
    }
    .carousel-inner {
        height: 100%;
    }
    .discount-message-wrapper.pull-left {
        float: none!important;
        width: 100%;
    }
    .discount-form.pull-right {
        float: none!important;
        width: 100%;
    }
    .discount-message-wrapper {
        position: relative;
    }
    .nice-padding {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 440px) {
    .doc-video iframe {
        min-height: 200px!important;
    }
    .message.message-1 {
        font-size: 1.25rem;
    }
    .message.message-2 {
        font-size: 2.5rem;
    }
    .message.message-3 {
        font-size: 0.85rem;
    }
    .know-more {
        padding: 5px 15px;
        font-size: 0.85rem;
        margin-top: 5px;
    }
    .play-button-wrapper {
        text-align: right;
        margin-top: 20%;
    }
    .play-button-wrapper>a {
        padding: 10px;
        box-shadow: 0px 5px 20px -1px black;
    }
    .play-button-wrapper>a>i {
        font-size: 1.5em;
        text-shadow: 2px 2px 10px #0a0a0a;
    }
    .calc-wrapper {
        width: 70%;
    }
}