<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
    <title>Petdietfix | Welcome</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon1.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./assets/css/progress-tracker.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/site-lang.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/login.component.css">
    <link rel="stylesheet" href="./assets/css/register.component.css">
    <link rel="stylesheet" href="./assets/css/homepage.component.css">
    <link rel="stylesheet" href="./assets/css/productdetails.component.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/css/color.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/header.css">

    <style>
        #particles-js {
            height: 100%;
            overflow: hidden;
        }

        #main-container {
            padding: 0px;
        }

        .usage-left {
            position: fixed;
            height: 100%;
            background: black;
            top: 0px;
            left: 0px;
            padding-top: 100px;
            width: 25%;
            clear: both;
            overflow-y: auto;
        }

        .usage-right {
            margin-left: 25%;
            min-height: 100%;
        }



        .footer-content {
            clear: both;
            display: none;
        }

        .form-wrapper {
            padding: 20px 40px;
        }

        .usage-heading {
            padding-left: 40px;
            padding-bottom: 10px;
        }

        .usage-heading h2,
        .usage-heading h1 {
            color: #dafd00;
        }

        .usage-heading::after {
            content: '';
            height: 2px;
            background: #dafd00;
            width: 50px;
            display: inline-block;
            position: absolute;
        }

        .form-wrapper .form-group label {
            color: #c7c7c7;
            letter-spacing: 1px;
        }

        .form-wrapper .form-group .form-control {
            background: black;
            border: 1px solid white;
            color: #fff;
        }

        .usage-right {

            height: 100%;
        }

        .fresh-form {
            font-size: 20px;
            margin-top: 100px;
            text-align: center;
        }

        .form-result {
            padding: 20px;
            text-align: left;
            border: 2px solid black;
            margin: 20px;
            margin-top: 0px;
        }

        .form-heading {
            text-transform: capitalize;
            font-size: 22px;
            font-weight: bold;
            color: black;
        }

        .mt-30 {
            margin-top: 30px;
        }

        .table {
            border: 1px solid grey!important;
            padding: 20px!important;
        }

        .table-responsive>.table>tbody>tr>td {
            color: black;
            border: 1px solid grey!important;
        }

        .side-heading {
            font-size: 18px;
            display: inline-block;
            border-bottom: 2px solid black;
            margin-bottom: 20px;
            font-weight: bold;
            color: black;
        }

        .side-heading-content {
            color: black;
        }
    </style>

    <style>
        @media screen and (max-width: 1001px) {
            .usage-left {
                padding-top: 160px;
                padding-bottom: 160px;
            }

        }

        @media screen and (max-width: 991px) {
            .form-wrapper {
                padding: 10px 20px;
            }

            .usage-heading {
                padding-left: 20px;
            }
        }

        @media screen and (max-width: 767px) {
            .usage-left {
                padding: 10px;
                position: relative;
                width: 100%;
            }
            .usage-right {
                margin-left: 0%;
            }

            .navbar-brand>img {
                width: 250px;
                max-width: 100%;
            }
            .navbar-brand {
                height: auto;
            }
            #main-container {
                margin-top: 130px!important;
            }

            .fresh-form {
                font-size: 20px;
                margin-top: 100px;
                margin-bottom: 100px;
                text-align: center;
                padding: 20px;
            }

        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/custom.css">
</head>

<body>

    <div id="particles-js"></div>

    <div id="wrapper">
        <div class="container-fluid">
            <header>
                <nav class="navbar navbar-fixed-top">
                    <div class="clearfix equiry-contet">
                        <ul *ngIf="!hideElement" class="top-nav triangle-down  pull-right ">
                            <li>
                                <a style="cursor: pointer;" data-toggle="modal" data-target="#LoginModal">Login</a>
                            </li>
                            <li>
                                <a>/</a>
                            </li>
                            <li>
                                <a style="cursor: pointer;" data-toggle="modal" data-target="#SignupModal">signup</a>
                            </li>
                        </ul>
                        <ul class="top-nav support-links pull-right">

                            <li class="dropdown cart-dropdown">
                                <a class="dropdown-toggle waves-effect waves-light cartIcon" data-toggle="dropdown" href="javascript:">

                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="badge badge-xs badge-danger">2</span>
                                    Cart
                                </a>
                                <div class="dropdown-menu mailbox">

                                    <div class="drop-title">
                                        There are {{ 2 }} item(s) in your cart
                                    </div>
                                    <div class="list-wrapper">
                                        <div class="media cart-media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg=="
                                                        alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Product Name</h4>
                                                <div>
                                                    Unit Price: 20 INR
                                                </div>
                                                <div>
                                                    Quantity: 1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media cart-media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg=="
                                                        alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Product Name</h4>
                                                <div>
                                                    Unit Price: 20 INR
                                                </div>
                                                <div>
                                                    Quantity: 1
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center total-content">
                                        <strong class="ng-tns-c1-0 total-txt">Sub-Total: {{cartSubTotal}}</strong>
                                        <br />
                                        <button class="btn btn-inverse" routerLink="/cart">{{labels.GotoCart}}</button>
                                    </div>
                                </div>
                            </li>

                            <li class="dropdown" *ngIf="hideElement">
                                <a href="javascript:" class="dropdown-toggle u-dropdown text-blue" data-toggle="dropdown" aria-expanded="false">
                                    Admin
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu user-dropdown animated flipInY">
                                    <li>
                                        <a href="profile.html">
                                            <i class="fa fa-user"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="orders.html">
                                            <i class="fa fa-list-ol"></i> My Orders</a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-power-off"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:" class="dropdown-toggle u-dropdown" data-toggle="dropdown" aria-expanded="false">
                                    <!-- Current Language Label below -->
                                    <i class="fa fa-language"></i> English
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu user-dropdown animated fadeIn">
                                    <!-- Loop LI element below to show list of languages -->
                                    <li>
                                        <a href="javascript:">Hindi</a>
                                    </li>
                                    <!-- End of LI Loop -->

                                    <li>
                                        <a href="javascript:">Telugu</a>
                                    </li>
                                    <li>
                                        <a href="javascript:">Tamil</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>

                    </div>

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="./assets/images/logo1.png" alt="logo" width="100%" />
                        </a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="homepage-english.html" class="active">Home</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" class="active">About

                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about-us-1.html">Company Overview</a>
                                    </li>
                                    <li>
                                        <a href="about-us-2.html">Who We Are</a>
                                    </li>
                                    <li>
                                        <a href="about-us-3.html">Our Story</a>
                                    </li>
                                    <li>
                                        <a href="about-us-4.html">Our Pet Diet Fix Solution</a>
                                    </li>
                                    <li>
                                        <a href="about-us-5.html">Our Philosopy</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="store.html">Store</a>
                            </li>
                            <li>
                                <a href="careers.html">Careers</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <li>
                                <a href="challenge.html">OurChallage</a>
                            </li>

                        </ul>
                    </div>
                    <!--/.nav-collapse -->

                </nav>
            </header>
            <div id="main-container">

                <div class="usage-left text-left">
                    <div class="usage-heading">
                        <h2>Usage Calculator</h2>
                    </div>
                    <div class="form-wrapper">
                        <form action="action.php">
                            <div class="form-group">
                                <label for="putIdNameHere">Life Stage:</label>
                                <select class="form-control">
                                    <option>Puppy</option>
                                    <option>Adult</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="putIdNameHere">Activity Level</label>
                                <select class="form-control">
                                    <option>Active</option>
                                    <option>Semi Active</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="putIdNameHere">Weight</label>
                                <input type="number" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="putIdNameHere">Recipe Type</label>
                                <select class="form-control">
                                    <option>Veg</option>
                                    <option>Non Veg</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="putIdNameHere">With / Without Milk</label>
                                <select class="form-control">
                                    <option>With Milk</option>
                                    <option>Without Milk</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="putIdNameHere">QTM Recipe</label>
                                <select class="form-control">
                                    <option>With Milk</option>
                                    <option>Without Milk</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Calculate</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="usage-right">

                    <div class="fresh-form hide">
                        Your Usage Calculator Results will be shown here.
                    </div>

                    <div class="form-result">

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-heading">
                                    adult - Without Milk - Non Veg
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-heading">
                                    QR CODE PLACEHOLDER
                                </div>
                            </div>
                        </div>

                        <div class="row mt-30">
                            <div class="col xs-12">
                                <div class="table-responsive" style="padding: 10px;">
                                    <table class="table">

                                        <tbody>
                                            <tr>
                                                <td class="bold">
                                                    Rice (raw, milled)
                                                </td>
                                                <td class="bold">127 Gram(s)</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-30">
                            <div class="col-xs-12">
                                <div class="side-heading">
                                    Procedure:
                                </div>
                                <div class="side-heading-content">
                                    Soak the peas and Bengal gram for 30 minutes before starting the cooking procedure. Light the stove; add soya bean oil to
                                    the cooker along with the washed vegetables and mix thoroughly. Add the rice and red
                                    gram. Mix it well. A pre- boiled egg can’t be mixed well in the recipe. Therefore, we
                                    suggest raw eggs. Break the raw egg in the cooker and mix the contents well (so that
                                    the flavour of the yolk reaches every morsel of the rice. Your dog will absolutely love
                                    this! ) Add two glasses of water for every glass of rice. Seal the cooker and let the
                                    mixture cook. Switch off the stove after 3 whistles. Open the cooker once it has cooled
                                    down. Add the nutritional mix to it after a gap of 5 minutes or until the food has reached
                                    room temperature. Mix well. Your recipe is ready!
                                </div>
                            </div>
                        </div>

                        <div class="row mt-30">
                            <div class="col-xs-12">
                                <div class="side-heading">
                                    Preparation time:
                                </div>
                                <div class="side-heading-content">
                                    10 Minutes.
                                </div>
                            </div>
                        </div>

                        <div class="row mt-30">
                            <div class="col-xs-12">
                                <div class="side-heading">
                                    Cooking tip:
                                </div>
                                <div class="side-heading-content">
                                    <p>
                                        For the busy working men and women, some Petdietfix tips to help save time and money while cooking for your pet!

                                    </p>
                                    <ul>
                                        <li>
                                            For quicker cooking, use pre-cooked rice and vegetables. Just light the stove, add the soybean oil. Add all the pre-cooked
                                            ingredients, break the raw egg and mix everything. Cook the same for 3-4 minutes.
                                            Add the nutritional mix to it after a gap of 5 minutes or until the food has
                                            reached room temperature. Mix well. Your pet’s food will be ready in less than
                                            5 minutes!

                                        </li>
                                        <li>
                                            Cooked vegetables have a shelf life of 4 days in the fridge. Proper refrigeration is needed. Pre-cooked vegetables and rice
                                            can make the process of cooking for your pet a much speedier process!

                                        </li>
                                        <li>
                                            Add sufficient water separately to keep your pet hydrated!

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-30">
                            <div class="col-xs-12">
                                <div class="side-heading">
                                    NOTE:
                                </div>
                                <div class="side-heading-content">
                                    <ul>
                                        <li>
                                            The recipe provided is for an entire day’s nutrition. Please divide the portions based on the number of meals you feed your
                                            pet in a day.
                                        </li>
                                        <li>
                                            Do not add the nutritional mix while cooking, as nutrients degenerate at higher temperatures. Wait until the cooked food
                                            has reached room temperature before adding the nutritional mix. Mix well.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="mt-30 text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Print</button>
                                <button type="button" class="btn btn-danger">Close</button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="right-side-panel dark">
                    <div class="right-content">
                        <span class="btn-close dark-close">
                            <i class="fa fa-close"></i>
                        </span>
                        <h2>Usage</h2>
                        <h1>
                            <span class="border">Calc</span>ulator</h1>
                    </div>
                    <div class="form-right">

                        <form class="form-horizontal">
                            <div class="form-group">

                                <select class="form-control">
                                    <option> Life Stage
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option> Product Type
                                    </option>
                                </select>

                            </div>
                            <div class="form-group">

                                <select class="form-control">
                                    <option>Dog Breed</option>
                                </select>
                            </div>
                            <button class="btn btn-proceed">Proceed</button>


                        </form>


                    </div>
                </div>

                <div class="right-side-panel light">
                    <span class="btn-close light-close">
                        <i class="fa fa-close"></i>
                    </span>
                    <h3 class="text-left">
                        <span>Usage Sheet For Canine-Blend</span>
                    </h3>
                    <div class="row selectedProduct">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Life Stage: </label>
                                <span>Puppy</span>
                            </div>
                            <div class="form-group">
                                <label>Product Type: </label>
                                <span>Canine-Blend</span>
                            </div>
                            <div class="form-group">
                                <label>Dog Breed: </label>
                                <span>German Shepherd</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row item-desc">
                        <div class="col-sm-12">
                            <h5>
                                <span>Directions Of Usage</span>
                            </h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend risus ut metus
                                euismod, sit amet elementum nisi sodales. Nulla elementum convallis auctor. Nunc pulvinar
                                nisi ac blandit feugiat. Aliquam ut tellus maximus, varius dui nec, volutpat dui. Suspendisse</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive table-breed">
                                <table class="table">

                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <img src="./assets/images/products/dog1_lit.png" alt="dog" />
                                            </th>
                                            <th>
                                                <img src="./assets/images/products/dog2_lit.png" alt="dog" />
                                            </th>
                                            <th>
                                                <img src="./assets/images/products/dog3_lit.png" alt="dog" />
                                            </th>
                                            <th>
                                                <img src="./assets/images/products/dog4_lit.png" alt="dog" />
                                            </th>
                                            <th>
                                                <img src="./assets/images/products/dog5_lit.png" alt="dog" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="bold">Tiny</td>
                                            <td class="bold">Small</td>
                                            <td class="bold">Medium</td>
                                            <td class="bold">Large</td>
                                            <td class="bold">Giant</td>
                                        </tr>
                                        <tr>
                                            <td>Heading 1</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                        </tr>
                                        <tr>
                                            <td>Heading 2</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                            <td>Value</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="rightside-main-panel hidden">

                        <div class="row item-desc">
                            <div class="col-sm-12">
                                <h5>
                                    <span>Directions Of Usage</span>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend risus ut metus
                                    euismod, sit amet elementum nisi sodales. Nulla elementum convallis auctor. Nunc pulvinar
                                    nisi ac blandit feugiat. Aliquam ut tellus maximus, varius dui nec, volutpat dui. Suspendisse</p>
                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive table-breed">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <img src="./assets/images/products/dog1.png" alt="dog" />
                                                </th>
                                                <th>
                                                    <img src="./assets/images/products/dog2.png" alt="dog" />

                                                </th>
                                                <th>
                                                    <img src="./assets/images/products/dog3.png" alt="dog" />

                                                </th>
                                                <th>
                                                    <img src="./assets/images/products/dog4.png" alt="dog" />

                                                </th>
                                                <th>
                                                    <img src="./assets/images/products/dog5.png" alt="dog" />

                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>

                                                    <p>Tiny </p>
                                                </th>
                                                <th>

                                                    <p>Small</p>
                                                </th>
                                                <th>

                                                    <p> Medium</p>
                                                </th>
                                                <th>

                                                    <p> Large</p>
                                                </th>
                                                <th>

                                                    <p>Giant </p>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th scope="row">Heading 1</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Heading 2</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Heading 3</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="footer-content clearfix">

                    <ul>
                        <li>
                            <span class="line-border"></span>
                        </li>
                        <li>2018 &copy; copyright |</li>
                        <li>allrights reserved</li>
                    </ul>
                    <ul class=" pull-right">
                        <li>
                            <span class="line-border"></span>
                        </li>
                        <li>privacy policy /</li>
                        <li>tems & conditions</li>
                    </ul>
                </div>
            </div>
        </div>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="./assets/js/custom.js"></script>
        <script src="./assets/js/jzoom.js"></script>


</body>

</html>