html, body {
    height: 100%;
}

.loader-content {
    display: flex;
    width: 40%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.pet-logo {
    z-index: 99;
    opacity: 1;
}

.loader-container {
    width: 95%;
    height: 100%;
}

.loaderText-contaier {
    margin-top: -3%;
}

.loaderText-contaier span {
    font-size: 1.5vw;
}

.diet-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diet-content {
    position: relative;
    width: 23%;
    margin-top: 0%;
    margin-left: 1%;
}

.diet-container img {
    position: absolute;
    width: 40%;
    left: 25%;
    top: 17%;
}

.balance {
    width: 100%;
    position: absolute;
    top: 52%;
    left: -2%;
}

.loaderBar {
    width: 45%;
    border: 1px solid #333;
    height: 5px;
    text-align: left;
    margin: 15px auto;
    display: flex;
    /* justify-content: center; */
}

.text-center {
    text-align: center;
}

.leftLoader {
    width: 0%;
    background: #000;
}

.heart {
    animation: beat 1s infinite alternate;
    transform-origin: center;
}

/* Heart beat animation */

@-webkit-keyframes beat {
    to {
        transform: scale(.9);
    }
}

@-moz-keyframes beat {
    to {
        transform: scale(.9);
    }
}

@keyframes beat {
    to {
        transform: scale(.9);
    }
}

.svg-pet {
    opacity: 0
}

.circlePoint, .rectMap {
    cursor: pointer;
}

.maskText {
    fill-opacity: 0;
}

.curve-container {
    position: absolute;
    left: 35%;
    top: 2%;
    height: 90%;
    width: 80%;
}

.curve-container {
    opacity: 0;
}

#curve {
    stroke: 3px;
    stroke-color: #333;
    stroke-dasharray: 784;
    stroke-dashoffset: 784;
}

.circlePoint {
    animation: zoomAnimation .7s ease-in forwards;
    animation-delay: 5.7s;
}

@-webkit-keyframes zoomAnimation {
    from {
        r: 13px;
    }
    to {
        r: 21px;
    }
}

@-moz-keyframes zoomAnimation {
    from {
        r: 13px;
    }
    to {
        r: 21px;
    }
}

@keyframes zoomAnimation {
    from {
        r: 13px;
    }
    to {
        r: 21px;
    }
}

.maskText {
    cursor: pointer;
}

.heart-line {
    stroke-dasharray: 84;
}

.language-selcontent {
    position: absolute;
    right: 0;
    top: 30%;
}

.language-selcontent h1 {
    font-size: 2.6vw;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 13px;
    padding-left: 10%;
}

.language-selcontent h1:first-child {
    font-size: 1.5vw;
    font-weight: normal;
}

#enligh-text {
    animation: animationText1 .7s ease-in forwards;
    animation-delay: 5.5s;
}

#telugu-text {
    animation: animationText3 .7s ease-in forwards;
    animation-delay: 5.9s;
}

#hindi-text {
    animation: animationText2 .7s ease-in forwards;
    animation-delay: 5.7s;
}

#tamil-text {
    animation: animationText4 .7s ease-in forwards;
    animation-delay: 6.4s;
}

#kanda-text {
    animation: animationText5 .7s ease-in forwards;
    animation-delay: 7s;
}

/* Webkit Animations */

@-webkit-keyframes animationText1 {
    from {
        -webkit-transform: translateX(400px) translateY(67px);
    }
    to {
        -webkit-transform: translateX(156px) translateY(67px);
    }
}

@-webkit-keyframes animationText2 {
    from {
        -webkit-transform: translateX(400px) translateY(170px);
    }
    to {
        -webkit-transform: translateX(243px) translateY(170px);
    }
}

@-webkit-keyframes animationText3 {
    from {
        -webkit-transform: translateX(400px) translateY(300px);
    }
    to {
        -webkit-transform: translateX(277px) translateY(300px);
    }
}

@-webkit-keyframes animationText4 {
    from {
        -webkit-transform: translateX(400px) translateY(423px);
    }
    to {
        -webkit-transform: translateX(256px) translateY(423px);
    }
}

@-webkit-keyframes animationText5 {
    from {
        -webkit-transform: translateX(400px) translateY(541px);
    }
    to {
        -webkit-transform: translateX(179px) translateY(541px);
    }
}

/* MOZ Animations */

@-moz-keyframes animationText1 {
    from {
        -webkit-transform: translateX(400px) translateY(67px);
    }
    to {
        -webkit-transform: translateX(156px) translateY(67px);
    }
}

@-moz-keyframes animationText2 {
    from {
        -webkit-transform: translateX(400px) translateY(170px);
    }
    to {
        -webkit-transform: translateX(243px) translateY(170px);
    }
}

@-moz-keyframes animationText3 {
    from {
        -webkit-transform: translateX(400px) translateY(300px);
    }
    to {
        -webkit-transform: translateX(277px) translateY(300px);
    }
}

@-moz-keyframes animationText4 {
    from {
        -webkit-transform: translateX(400px) translateY(423px);
    }
    to {
        -webkit-transform: translateX(256px) translateY(423px);
    }
}

@-moz-keyframes animationText5 {
    from {
        -webkit-transform: translateX(400px) translateY(541px);
    }
    to {
        -webkit-transform: translateX(179px) translateY(541px);
    }
}


@keyframes animationText1 {
    from {
        -webkit-transform: translateX(400px) translateY(67px);
    }
    to {
        -webkit-transform: translateX(156px) translateY(67px);
    }
}

@keyframes animationText2 {
    from {
        -webkit-transform: translateX(400px) translateY(170px);
    }
    to {
        -webkit-transform: translateX(243px) translateY(170px);
    }
}

@keyframes animationText3 {
    from {
        -webkit-transform: translateX(400px) translateY(300px);
    }
    to {
        -webkit-transform: translateX(277px) translateY(300px);
    }
}

@keyframes animationText4 {
    from {
        -webkit-transform: translateX(400px) translateY(423px);
    }
    to {
        -webkit-transform: translateX(256px) translateY(423px);
    }
}

@keyframes animationText5 {
    from {
        -webkit-transform: translateX(400px) translateY(541px);
    }
    to {
        -webkit-transform: translateX(179px) translateY(541px);
    }
}