@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.f-big {
    font-size: 3.5rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: 0 auto;
}

.d-inline {
    display: inline;
}

img.animation-clock-wise {
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    max-width: 250px;
}

img.animation-anti-clock-wise {
    -webkit-animation-name: rotate-reverse;
    animation-name: rotate-reverse;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    max-width: 250px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-reverse {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotate-reverse {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

img {
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .f-big {
        font-size: 1.85rem;
    }
}